<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小克合集</title>
    <link rel="shortcut icon" href="images/ke.ico" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->
    <style>
        body{
            padding-top: 60px;
            padding-bottom: 60px;
        }
        .wh{
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            padding: 4px;
            border: 1px solid #ccc;
            cursor: pointer;
            margin-bottom: 5px;
        }
        .wh:hover{
            border: 2px #00ccb3 solid;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
            <a href="##" class="navbar-brand">小克合集</a>
            　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="##">Home</a></li>
                <li><a href="##" data-toggle="modal" data-target="#mymodal">Aboutme</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container text-center">
    <div class="row" style="margin-bottom: 5px" ng-repeat="project in projects">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="item in project">
            <a href="{{item.href}}">
                <img src="images/{{item.imgsrc}}" class="wh" width="200" height="200"/><br>
                <span class="btn btn-default">show case</span>
            </a>
        </div>
    </div>

</div>
<footer class="navbar navbar-inverse navbar-fixed-bottom" style="color: #fff;height: 50px;line-height: 50px">
    <p class="pull-left" style="margin-left: 10%">&copy; create by 小克</p>
    <p class="pull-right" style="margin-right: 10%"><a href="#top">回到顶部</a></p>
</footer>
<div class="modal fade" id="mymodal"><!-- 可通过给“.modal”增加类名“fade”为模态弹出框增加一个过渡动画效果。 -->
    <div class="modal-dialog"><!-- 可以通过 modal-lg 或者modal-sm控制Modals的大小 -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">关于</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped"><!--  table-striped:斑马线    table-bordered：带边框   table-hover：鼠标悬浮高亮 table-condensed：紧凑型 -->
                    <tbody>
                    <tr>
                        <td class="text-right">作者：</td>
                        <td>小克（本名：武帅鹏）</td>
                    </tr>
                    <tr>
                        <td class="text-right">联系方式：</td>
                        <td>QQ<a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=b394e76d348866353c5bb1c8607541e6947a00d86466c523">958627905</a></td>
                    </tr>
                    <tr>
                        <td class="text-right">邮箱：</td>
                        <td><a href="mailto:13241847015@163.com">13241847015@163.com</a><br /><a href="mailto:xhtml5@qq.com">xhtml5@qq.com</a></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">有什么需要，请您联系我！</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script src="js/jQuery.1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    angular.module("myApp",[])
        .controller('myCtrl', function($scope,$http) {
            $http.get('js/data.json','').success(function (res) {
                $scope.projects = res.data;
            })
        })

</script>
</body>
</html>