/* CSS Document */
@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: 'Microsoft Yahei', helvetica, arial;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: center;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

fieldset, img {
    border: 0;
}

ol, ul, li {
    list-style: none;
}

input {
    font-size: 100%;
    background: none;
}

img, input, button, a, select, textarea {
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
}

ins, a {
    text-decoration: none;
}

a:hover, a:active, a:visited {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.mt15 {
    margin-top: 15px;
}

.add_two ul {
    background: #fff;
}

.add_two ul li {
    font-size: 13px;
    margin-left: 15px;
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    overflow: hidden;
}

.add_two ul li:last-child {
    border: none;
}

.add_two ul li b {
    color: #ff552a;
    font-weight: 100;
    float: left;
    line-height: 30px;
}

.add_two ul li span {
    color: #cecece;
    float: left;
}

.add_two ul li input {
    float: left;
    width: 73%;
    margin-left: 2px;
    height: 35px;
    line-height: 35px;
}

.add_two ul li textarea {
    width: 95%;
    margin-left: 2px;
    margin-top: 9px;
    height: 104px;
    font-size: 13px;
}

.add_two>div {
    margin-top: 13px;
    background: #fff;
    line-height: 48px;
    color: #333333;
    padding-left: 15px;
    height: 48px;
}

.add_two>div>span {
    float: left;
}

#switch {
    float: right;
    margin-top: 9px;
    margin-right: 13px;
}

#switch .toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    margin: -5px;
    padding: 5px;
}

#switch .toggle input:checked + .track {
    border-color: #458cec;
    background-color: #458cec;
}

#switch .toggle.dragging .handle {
    background-color: #f2f2f2 !important;
}

#switch .toggle input {
    display: none;
}

#switch .toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    border: solid 2px #e6e6e6;
    -webkit-border-radius: 20px;
    background-color: #fff;
    content: ' ';
    cursor: pointer;
    pointer-events: none;
}

#switch .platform-android4_2 .toggle .track {
    -webkit-background-clip: padding-box;
}

#switch .toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 27px;
    background-color: #fff;
    top: 7px;
    left: 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}

#switch .toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -21px;
    padding: 18px 0px 18px 34px;
    content: " ";
}

#switch .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background-color: #fff;
}

#switch .item-toggle.active {
    box-shadow: none;
}

#switch .item-toggle, .ionic .item-toggle.item-complex .item-content {
    padding-right: 99px;
}

#switch .item-toggle.item-complex {
    padding-right: 0;
}

#switch .item-toggle .toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 3;
}

#switch .toggle input:disabled + .track {
    opacity: 0.6;
}
