* {
    margin: 0;
    padding: 0;
    font-family: "华文黑体";
}
ul li{
	list-style:none;
}
body{
	background: #f4f4f4;
}
.top_ter{
  background: #fff;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  overflow: hidden;
}
.ter_img{
  width: 35px;
  float: left;
}
.ter_img img{
  width: 100%;
}
.ter_ti{
  float: left;
  text-align: center;
  padding-left: 30px;
}
.ter_div{
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  clear: both;
  margin-left: 15px;
}
.ter_bv{
  width:215px;
  overflow: hidden;
  padding: 35px 0;
  margin: 0 auto;
}
.ter_ti p:nth-child(1){
  font-size: 16px;
  color: #3e3f3f;
}
.ter_ti p:last-child{
	padding-top: 10px;
}

.ter_ti p:nth-child(2){
  color: #8a8a8a;
  font-size: 15px;
  padding-top: 10px;
}
.ter_but{
  clear: both;
  width: 100%;
  overflow: hidden;
  padding:20px 0;
}
.ter_but button{
  width:42.5%;
  height: 35px;
  border: 1px solid #458cec;
  -webkit-border-radius: 5px;
  background: #fff;
  color: #458cec;
  font-size: 14px;
  float: left;
  margin-left: 15px;
}
.cent_sec{
  margin-top: 15px;
  background: #fff; 
  padding-bottom:0;
  border-bottom: 1px solid #e0e0e0;
}
.cent_sec h1{
  padding: 8px 0 8px 15px;
  font-size: 14px;
  background: #e5e5e5;
  font-weight: normal;
}
.cent_sec ul:last-child{
  border-bottom:none;
}
.cent_sec ul{
  margin-left: 15px;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.cent_sec ul li{
  float: left;
  width:30%;
  margin-right:3%;
  margin-top: 17px;
}
.cent_sec ul li img{
    width: 100%;
}
.cent_sec ul li p{
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  color: #3e3f3f;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
