*{padding:0;margin: 0;font-style:none;}
body{
    background:#f4f4f4;
}
.hea_div{
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    text-align: center;
    color: rgb(69, 140, 236);
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    background: #fff;
}
.head_left{
    width: 11px;
    position: absolute;
    top: 14px;
    left: 14px;
}
.head_right{
    position: absolute;
    right: 14px;
    top: 0;
    font-size: 14px;
    height: 45px;
}
.reg_sec{
    font-size: 13px;
}
.reg_m{
    background: #fff;
    margin-top: 15px;
    overflow: hidden;
}
.reg_ul li{
    overflow: hidden;
    line-height: 46px;
    border-bottom: 1px solid #e1e1e1;
    margin-left: 15px;
}
.reg_ul li:last-child{
    border-bottom:none;
}
.reg_ul li span{
    padding-right: 13px;
}
.reg_ul li input{
    width: 80%;
    height: 46px;
}
.reg_ul li:last-child input{
    border-bottom:none;
    width: 50%;
}
.pas_btn{
    border: 1px solid #498ee9;
    color: #498ee9;
    background: none;
    border-radius: 5px;
    width: 91px;
    height: 30px;
    float: right;
    margin: 8px 5px 0 0;
}
.reg_btn{
    margin-top: 35px;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    background: #498ee9;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
.amend_p{
    line-height: 46px;
    background: #fff;
}
.amend_p span{
    padding-right: 13px;
    padding-left: 10px;
}
.amend_p input{
    width: 75%;
    height: 46px;
}