*{padding:0;margin: 0;font-style:none;}
body{
    background:#f4f4f4;
}
.set_ul{
    background: #fff;
    overflow: hidden;
    font-size: 13px;
    margin-top: 15px;
}
.set_ul li{
    height: 40px;
    margin-left: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.set_ul li:last-child{
    border-bottom: none;
}
.set_ul li b{
    color: #545454;
    font-weight: 100;
    line-height: 40px;
}
.set_ul li span{
    float: right;
    line-height: 40px;
    color: #e1e1e1  ;
}
.set_ul li span img{
    width: 10px;
    padding: 9px 10px 0;
    vertical-align: sub;
}