*{padding:0;margin: 0;font-style:none;}
body{
    background:#f4f4f4;
}
.hea_div{
    height: 45px;
    line-height: 45px;
    font-size: 17px;
    text-align: center;
    color: rgb(69, 140, 236);
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    background: #fff;
}
.head_left{
    width: 11px;
    position: absolute;
    top: 14px;
    left: 14px;
}
.head_right{
    position: absolute;
    right: 14px;
    top: 0;
    font-size: 14px;
    height: 45px;
}
.head_right img{
    width: 22px;
    padding-top: 14px;
}
.voi_sec{
    background: #fff;
}
.voi_img{
    width: 100%;
}
.voi_sec p{
    font-size: 13px;
    padding: 10px 15px;
    color: #333;
    line-height: 22px;
}
.voi_btn{
    margin-top: 15px;
}
.voi_btn button{
    width: 42%;
    height: 40px;
    border: none;
    background: #4d90e6;
    color: #fff;
    -webkit-border-radius: 5px;
    margin-left: 5%;
    font-size: 17px;
    float: left;
}