*{padding:0;margin: 0;font-style:none; }
body{
    background: #f4f4f4;
}
.bus_tion{
    margin-top:15px;
}
.bus_div{
    font-size: 13px;
    background: #fff;
    margin-top: 15px;
    overflow: hidden;
    color: #2b2b2b;
    position: relative;
}
.bus_divs{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
}
.delete-btn{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #df432d;
    width: 68px;
    margin: 0px;
    float: right;
    border: none;
    height: 100%;
    line-height: 110px;
    color: #fff;
}
.bus_yuan{
    width: 37px;
    height: 37px;
    border: 1px solid #498ee9;
    color: #498ee9;
    -webkit-border-radius:37px;
    text-align: center;
    line-height: 37px;
    float: left;
    margin: 7px;
}
.bus_top p{
    line-height: 25px;
}
.bus_pot span{
    border: 1px solid #e1e1e1;
    padding: 2px 6px;
    margin: 0 5px;
    border-radius: 5px;
    color: #498ee9;
}
.bus_img{
    width: 20px;
    padding: 0 10px;
}
.bus_top{
    overflow: hidden;
    margin-left: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding: 7px 0;
}
.bus_zd{
    padding-left: 15px;
    line-height: 50px;
    float: left;
}
.bus_zd span{
    color: #666;
    margin-left: 10px;
}
.bus_zf{
    color: #a8a8a8;
    text-align: center;
    font-size: 13px;
    position: absolute;
    width: 100%;
    bottom: 13%;
}
.cur a p{
    color:#498ee9!important;
}
#switch {
    float: right;
    margin-top: 9px;
    margin-right: 13px;
}

#switch .toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    margin: -5px;
    padding: 5px;
}

#switch .toggle input:checked + .track {
    border-color: #458cec;
    background-color: #458cec;
}

#switch .toggle.dragging .handle {
    background-color: #f2f2f2 !important;
}

#switch .toggle input {
    display: none;
}

#switch .toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    background-color: #fff;
    content: ' ';
    cursor: pointer;
    pointer-events: none;
}

#switch .platform-android4_2 .toggle .track {
    -webkit-background-clip: padding-box;
}

#switch .toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: #fff;
    top: 7px;
    left: 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}

#switch .toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -21px;
    padding: 18px 0px 18px 34px;
    content: " ";
}

#switch .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background-color: #fff;
}

#switch .item-toggle.active {
    box-shadow: none;
}

#switch .item-toggle, .ionic .item-toggle.item-complex .item-content {
    padding-right: 99px;
}

#switch .item-toggle.item-complex {
    padding-right: 0;
}

#switch .item-toggle .toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 3;
}

#switch .toggle input:disabled + .track {
    opacity: 0.6;
}
